<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="css/styles.css">
  <title>To do list</title>
</head>

<body>
  <div class="box" id="heading">
    <h1>
      <%= kindofday %>
    </h1>
  </div>

  <div class="box">
    <%for (var i=0; i<itemName.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p>
        <%= itemName[i]%>
      </p>
    </div>
    <% } %>
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>



</body>

</html>